In [1]:
import pandas as pd
df = pd.read_csv("school_shooting.csv")
df['Date'] = pd.to_datetime(df['Date'])

df.tail()

,Date,Death,Injuries,Location,State,School_Name,School_Type,Latitude,Longitude
332,2013-03-21,0,0,Southgate,MI,Davidson Middle School,Middle School,42.206116,-83.204609
333,2013-02-27,0,0,Atlanta,GA,Henry W. Grady High School,High School,33.749099,-84.390185
334,2013-02-13,0,0,San Leandro,CA,Hillside Elementary School,Elementary School,37.724930,-122.156077
335,2013-02-01,0,0,Altanta,GA,Morehouse College,College or University,33.749000,-84.388000
336,2013-01-08,0,0,Fort Myers,FL,Apostolic Revival Center Christian School,Elementary School,26.640628,-81.872308

In [2]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float
Base = declarative_base()

engine = create_engine("sqlite:///school.sqlite")
conn = engine.connect()

In [3]:
class school_shoot(Base):
    __tablename__ = "School_shooting"
    id = Column(Integer, primary_key=True)
    Date = Column(String) # for late using the date column, we need to use pandas to convert it back to datetime format for analysis 
    Death = Column(Integer)
    Injuries = Column(Integer)
    Location= Column(String)
    State = Column(String)
    School_Name = Column(String)
    School_Type = Column(String)
    Latitude= Column(Float)
    Longitude = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, Date  = {self.Date}, Death ={self.Death}, Injuries = {self.Injuries}, State = {self.State},Location = {self.Location}, School_Name = {self.School_Name}, School_Type = {self.School_Type}, Latitude = {self.Latitude}, Longitude = {self.Longitude} "

In [4]:
Base.metadata.create_all(engine)

In [5]:
df = pd.read_csv("school_shooting.csv")

In [6]:
school_dict = df.to_dict(orient = 'records')
metadata = MetaData(bind=engine)
metadata.reflect()
table1 = sqlalchemy.Table('School_shooting', metadata, autoload=True)
conn.execute(table1.insert(), school_dict)

In [7]:
conn.execute("select * from School_shooting").fetchall()

[(1, '1/7/13', 1, 0, 'Fort Myers', ' FL', 'Apostolic Revival Center Christian School', 'Preschool', 26.640628000000003, -81.87230840000001),
 (2, '1/10/13', 0, 2, 'Taft', ' CA', 'Taft Union High School', 'High School', 50.9954169, -118.6467639),
 (3, '1/12/13', 0, 1, 'Detroit', ' MI', 'Osborn High School ', 'High School', 42.3486635, -83.0567375),
 (4, '1/15/13', 0, 2, 'St. Louis', ' MO', 'Stevens Institute of Business & Arts', 'College or University', 38.62727329999999, -90.19788890000001),
 (5, '1/15/13', 3, 0, 'Hazard', ' KY', 'Hazard Community and Technical College', 'College or University', 37.24954, -83.19322840000001),
 (6, '1/16/13', 1, 0, 'Chicago', ' IL', 'Chicago State University', 'College or University', 41.8755546, -87.6244212),
 (7, '1/22/13', 0, 3, 'Houston', ' TX', 'Lone Star College North Harris Campus', 'College or University', 29.7589382, -95.36769740000001),
 (8, '1/31/13', 0, 0, 'Phoenix', 'AZ', 'Cesar Chavez High School', 'High School', 33.448586600000006, -112.0773456),
 (9, '1/31/13', 0, 2, 'Atlanta', ' GA', 'Price Middle School', 'Middle School', 33.749098700000005, -84.39018490000001),
 (10, '3/18/13', 1, 0, 'Orlando', ' FL', 'University of Central Florida', 'College or University', 28.5423999, -81.37943680000001),
 (11, '4/12/13', 0, 2, 'Christiansburg', ' VA', 'New River Community College', 'College or University', 37.1298517, -80.40893890000001),
 (12, '4/16/13', 0, 3, 'Tuscaloosa', ' AL', 'Stillman College', 'College or University', 33.2668398, -87.4862182),
 (13, '4/18/13', 1, 0, 'Cambridge', 'MA', 'MIT', 'College or University', 42.3750997, -71.1056157),
 (14, '5/14/13', 0, 0, 'Birmingham', 'AL', 'Ossie Ware Mitchell Middle School', 'Middle School', 33.5206824, -86.80243259999999),
 (15, '6/7/13', 6, 4, 'Santa Monica', ' CA', 'Santa Monica College', 'College or University', 46.724362, -75.559685),
 (16, '8/20/13', 0, 0, 'Decatur', ' GA', 'Ronald E. McNair Discovery Learning Academy', 'Elementary School', 33.7737582, -84.29606899999999),
 (17, '8/23/13', 1, 2, 'Sardis', ' MS', 'North Panola High School', 'High School', 31.8009956, -90.32425699999999),
 (18, '8/30/13', 0, 1, 'Winston-Salem', ' NC', 'Carver High School', 'High School', 36.0998131, -80.2440518),
 (19, '10/4/13', 0, 2, 'Pine Hills', ' FL', 'Agape Christian Academy', 'Elementary School', 28.5825505, -81.4618323),
 (20, '10/21/13', 2, 2, 'Sparks', ' NV', 'Sparks Middle School', 'Middle School', 39.5348431, -119.7527683),
 (21, '11/2/13', 0, 1, 'Greensboro', ' NC', 'North Carolina A&T State University', 'Preschool', 36.0726355, -79.79197540000001),
 (22, '11/3/13', 0, 2, 'Stone Mountain', ' GA', 'Stephenson High School', 'High School', 33.806216600000006, -84.1457505),
 (23, '11/13/13', 0, 3, 'Pittsburgh', ' PA', 'Brashear High School', 'High School', 40.4416941, -79.99008609999998),
 (24, '12/4/13', 0, 1, 'Winter Garden', ' FL', 'West Orange High School', 'High School', 28.5502685, -81.59259746),
 (25, '12/13/13', 2, 0, 'Centennial', ' CO', 'Arapahoe High School', 'High School', 39.5680644, -104.97783079999999),
 (26, '12/19/13', 0, 1, 'Fresno', ' CA', 'Edison High School', 'High School', 36.7295295, -119.7088613),
 (27, '1/9/14', 0, 1, 'Jackson', ' TN', 'Liberty Technology Magnet High School', 'High School', 35.6144446, -88.8177418),
 (28, '1/13/14', 0, 1, 'New Haven', ' CT', 'Hillhouse High School', 'High School', 41.3082138, -72.92505179999999),
 (29, '1/14/14', 0, 3, 'Roswell', ' NM', 'Berrendo Middle School', 'Middle School', 33.394328200000004, -104.52295179999999),
 (30, '1/17/14', 0, 2, 'Philadelphia', ' PA', 'Delaware Valley Charter High School', 'High School', 39.9524152, -75.16357550000001),
 (31, '1/20/14', 0, 1, 'Chester', ' PA', 'Widener University', 'College or University', 39.849557, -75.3557458),
 (32, '1/21/14', 1, 0, 'West Lafayette', ' IN', 'Purdue University', 'College or University', 40.4258686, -86.9080655),
 (33, '1/24/14', 1, 0, 'Orangeburg', ' SC', 'South Carolina State University', 'College or University', 33.4918203, -80.8556476),
 (34, '1/25/14', 1, 0, 'Los Angeles', ' CA', 'Angeles Valley College', 'College or University', 34.054935, -118.244476),
 (35, '1/27/14', 0, 1, 'Carbondale', ' IL', 'Rebound High School', 'High School', 37.7274692, -89.216655),
 (36, '1/28/14', 0, 1, 'Nashville', ' TN', 'Tennessee State University', 'College or University', 36.1622296, -86.7743531),
 (37, '1/28/14', 0, 1, 'Grambling', ' LA', 'Grambling State University', 'College or University', 32.527650300000005, -92.7140403),
 (38, '1/30/14', 0, 1, 'Palm Bay', ' FL', 'Eastern Florida State College', 'College or University', 28.0331886, -80.64296949999999),
 (39, '1/31/14', 0, 1, 'Phoenix', ' AZ', 'Cesar Chavez High School', 'High School', 33.448586600000006, -112.0773456),
 (40, '1/31/14', 0, 1, 'Des Moines', ' IA', 'North High School', 'High School', 41.5910641, -93.60371490000001),
 (41, '2/10/14', 0, 1, 'Salisbury', ' NC', 'Salisbury High School', 'High School', -28.7464779, 24.776729),
 (42, '2/10/14', 0, 0, 'Lyndhurst', ' OH', 'Charles F. Brush High School', 'High School', 41.520052, -81.488732),
 (43, '2/12/14', 0, 1, 'Los Angeles', ' CA', 'University of Southern California', 'College or University', 34.054935, -118.244476),
 (44, '2/22/14', 0, 1, 'Augusta', ' GA', 'Georgia Regents University', 'College or University', 33.470971399999996, -81.9748429),
 (45, '3/12/14', 1, 0, 'Miami', ' FL', 'The Academy of Knowledge Preschool', 'Preschool', 25.7742658, -80.1936589),
 (46, '4/9/14', 0, 0, 'Greenville', ' NC', 'D. H. Conley High School', 'High School', 35.612660999999996, -77.3663538),
 (47, '4/11/14', 1, 0, 'Detroit', ' MI', 'East English Village Preparatory Academy', 'High School', 42.3486635, -83.0567375),
 (48, '5/4/14', 0, 1, 'Augusta', ' GA', 'Paine College', 'College or University', 33.470971399999996, -81.9748429),
 (49, '5/8/14', 0, 1, 'Georgetown', ' KY', 'Georgetown College', 'College or University', 19.2953549, -81.3807776),
 (50, '5/8/14', 0, 1, 'Lawrenceville', ' GA', 'Georgia Gwinnett College', 'College or University', 33.9562149, -83.9879625),
 (51, '5/14/14', 0, 1, 'Richmond', ' CA', 'John F. Kennedy High School ', 'High School', 49.1632727, -123.13766869999999),
 (52, '6/5/14', 1, 3, 'Seattle', ' WA', 'Seattle Pacific University', 'College or University', 47.6038321, -122.3300624),
 (53, '6/10/14', 2, 1, 'Troutdale', ' OR', 'Reynolds High School', 'High School', 45.5317928, -122.391155),
 (54, '9/9/14', 0, 1, 'Miami', 'FL', None, None, 25.7742658, -80.1936589),
 (55, '9/11/14', 0, 1, 'Taylorsville', ' UT', 'Westbrook Elementary School', 'Elementary School', 40.667751700000004, -111.9386311),
 (56, '9/27/14', 0, 1, 'Terre Haute', ' IN', 'Indiana State University', 'College or University', 39.466702500000004, -87.4139119),
 (57, '9/30/14', 0, 1, 'Albermarle', ' NC', 'Abermarle High school', 'High School', 35.60846655, -82.54350500000001),
 (58, '9/30/14', 0, 1, 'Louisville', ' KY', 'Fern Creek High School', 'High School', 38.254237599999996, -85.759407),
 (59, '10/3/14', 1, 0, 'Fairburn', ' GA', 'Langston Hughes High School', 'High School', 33.5670562, -84.5810418),
 (60, '10/24/14', 5, 1, 'Marysville', ' WA', 'Marysville Pilchuck High School', 'High School', 48.0517429, -122.17682090000001),
 (61, '11/20/14', 1, 3, 'Tallahasse', ' FL', 'Florida State University', 'College or University', 29.9812352, -81.9841945),
 (62, '11/20/14', 1, 1, 'Miami', ' FL', 'Miami Carol City High School', 'High School', 25.7742658, -80.1936589),
 (63, '12/5/14', 1, 0, 'Claremore', ' OK', 'Rogers State University', 'College or University', 36.312589700000004, -95.6158701),
 (64, '12/12/14', 0, 4, 'Portland', ' OR', 'Rosemary Anderson High School', 'High School', 45.5202471, -122.6741949),
 (65, '1/15/15', 0, 3, 'Milwaukee', ' WI', 'Wisconson Lutheran High School', 'High School', 43.0349931, -87.92249699999999),
 (66, '1/16/15', 0, 2, 'Ocala', ' FL', 'Vanguard High School', 'High School', 29.187198600000002, -82.14009229999999),
 (67, '2/4/15', 0, 2, 'Frederick', ' MD', 'Frederick High School', 'High School', 39.4142186, -77.4109269),
 (68, '2/14/15', 1, 0, 'Merced', ' CA', None, 'High School', 37.3029568, -120.48432690000001),
 (69, '2/23/15', 0, 3, 'Daytona Beach', ' FL', 'Bethune-Cookman University', 'College or University', 29.2108147, -81.02283309999999),
 (70, '3/30/15', 0, 1, 'University City', ' MI', None, 'Elementary School', 38.6558849, -90.3092813),
 (71, '4/13/15', 1, 0, 'Goldsboro', ' NC', 'Wayne Community College', 'College or University', 35.3848841, -77.9927651),
 (72, '4/16/15', 0, 1, 'Paradis', ' LA', None, 'Middle School', 50.2472968, 3.9541879),
 (73, '4/27/15', 0, 0, 'Lacey', ' WA', 'North Thurston High School', 'High School', 47.0263876, -122.8072257),
 (74, '5/12/15', 0, 2, 'Tempe', ' AZ', 'Corona del Sol High School', 'High School', 33.4144139, -111.90944740000002),
 (75, '5/24/15', 0, 7, 'Flint', ' MI', 'Southwestern Classical Academy', 'High School', 43.0171773, -83.7236024),
 (76, '8/27/15', 1, 0, 'Savannah', ' GA', 'Savannah State University', 'College or University', 32.0835407, -81.0998342),
 (77, '9/3/15', 1, 2, 'Sacramento', ' CA', 'Sacramento City College', 'College or University', 38.5815719, -121.49439960000001),
 (78, '9/14/15', 2, 0, 'Cleveland', ' MS', 'Delta State University', 'College or University', 33.7440023, -90.7248187),
 (79, '9/30/15', 0, 1, 'Harrisburg', ' SD', 'Harrisburg High School', 'High School', 43.431366, -96.69726999999999),
 (80, '10/1/15', 10, 9, 'Roseburg', ' OR', 'Umpqua Community College', 'College or University', 43.216505, -123.3417381),
 (81, '10/9/15', 1, 3, 'Flagstaff', ' AZ', 'Northern Arizona University - Flagstaff', 'College or University', 35.199458, -111.6514259),
 (82, '10/9/15', 1, 1, 'Houston', ' TX', 'Texas Southern University', 'College or University', 29.7589382, -95.36769740000001),
 (83, '10/22/15', 1, 3, 'Nashville', ' TN', 'Tennessee State University', 'College or University', 36.1622296, -86.7743531),
 (84, '11/1/15', 1, 1, 'Winston-Salem', ' NC', 'Winston-Salem State University', 'College or University', 36.0998131, -80.2440518),
 (85, '11/20/15', 1, 0, 'North Las Vegas', ' NV', None, 'High School', 36.2008371, -115.11209579999999),
 (86, '1/22/16', 0, 1, 'Indianapolis', ' IN', 'Lawrence Central High School', 'High School', 39.7683331, -86.1583502),
 (87, '1/29/16', 0, 0, 'Philadelphia', ' PA', 'Benjamin Franklin High School', 'High School', 39.9524152, -75.16357550000001),
 (88, '2/9/16', 0, 4, 'Muskegon Heights', ' MI', 'Muskegon Heights High School', 'High School', 43.201126, -86.238946),
 (89, '2/12/16', 2, 0, 'Glendale', ' AZ', 'Independence High School', 'High School', 33.558997, -112.4046831),
 (90, '2/29/16', 0, 4, 'Middletown', ' OH', 'Madison High School', 'K-12 School', 39.5150576, -84.39827629999999),
 (91, '4/23/16', 1, 2, 'Antigo', ' WI', None, 'High School', 45.140245, -89.152335),
 (92, '6/1/16', 2, 0, 'Los Angeles', ' CA', 'University of California-Los Angeles', 'College or University', 34.054935, -118.244476),
 (93, '6/8/16', 1, 3, 'Dorchester', ' MA', None, 'High School', 42.297320500000005, -71.0744952),
 (94, '9/9/16', 1, 2, 'Alpine', ' TX', 'Auburn University at Montgomery', 'College or University', 30.357380199999998, -103.66093670000001),
 (95, '9/28/16', 2, 2, 'Townville', ' SC', 'Townville Elementary School', 'Elementary School', 34.56371370000001, -82.8984775),
 (96, '10/11/16', 0, 1, 'Prichard', ' AL', 'Vigor High School', 'High School', 30.738799800000002, -88.07888890000001),
 (97, '10/13/16', 0, 2, 'Columbus', ' OH', None, 'College or University', 39.9622601, -83.00070649999999),
 (98, '10/18/16', 0, 4, 'San Francisco', ' CA', None, 'High School', 45.4423543, -73.4373087),
 (99, '10/25/16', 0, 1, 'Sandy', ' UT', None, 'Middle School', 40.572851, -111.83344960000001),
 (100, '12/1/16', 0, 0, 'Bountiful', ' UT', 'Mueller Park Junior High School', 'Middle School', 40.889461100000005, -111.8804817),
 (101, '1/20/17', 0, 1, 'West Liberty', ' OH', 'West Liberty-Salem High School', 'High School', 40.2522771, -83.75576629999999),
 (102, '1/20/17', 0, 1, 'West Liberty', ' OH', ' University of Washington ', 'College or University', 40.2522771, -83.75576629999999),
 (103, '3/21/17', 0, 1, 'King City', ' CA', None, 'High School', 43.929319, -79.53649200000001),
 (104, '4/10/17', 3, 1, 'San Bernardino', ' CA', 'North Park Elementary School', 'Elementary School', 34.1083449, -117.2897652),
 (105, '5/4/17', 2, 0, 'Irving', ' TX', None, 'College or University', 32.829518300000004, -96.9442177),
 (106, '9/13/17', 1, 3, 'Rockford', ' WA', 'Freeman High School', 'High School', 47.4521207, -117.1307471),
 (107, '9/20/17', 0, 1, 'Mattoon', ' IL', 'Mattoon High School', 'High School', 39.4842821, -88.37732790000001),
 (108, '11/14/17', 6, 18, 'Corning', ' CA', 'Rancho Tehama Elementary School', 'Elementary School', 49.957280700000005, -102.9716027),
 (109, '12/7/17', 3, 0, 'Aztec', ' NM', 'Aztec High School', 'High School', 36.8220629, -107.99289920000001),
 (110, '1/10/18', 0, 0, 'Denison', ' TX', 'Grayson College', 'Community College', 33.7556593, -96.536658),
 (111, '1/20/18', 1, 0, 'Winston-Salem', ' NC', 'Wake Forest University', 'College or University', 36.0998131, -80.2440518),
 (112, '1/22/18', 0, 1, 'Italy', ' TX', 'Italy High School', 'High School', 32.1840381, -96.88471940000001),
 (113, '1/22/18', 0, 1, 'New Orleans', ' LA', 'The NET Charter High School', 'High School', 30.03280175, -89.97500545),
 (114, '1/23/18', 2, 18, 'Benton', ' KY', 'Marshall County High School', 'High School', 36.8572781, -88.35031500000001),
 (115, '1/25/18', 0, 0, 'Mobile', ' AL', 'Murphy High School', 'High School', 30.6943566, -88.04305409999999),
 (116, '1/31/18', 1, 0, 'Philadelphia', ' PA', 'Lincoln High School', 'High School', 39.9524152, -75.16357550000001),
 (117, '2/1/18', 0, 5, 'Los Angeles', ' CA', 'Salvador B. Castro Middle School', 'Middle School', 34.054935, -118.244476),
 (118, '2/5/18', 0, 1, 'Oxon Hill', ' MD', 'Oxon Hill High School', 'High School', 38.8035961, -76.98965729999999),
 (119, '2/14/18', 17, 17, 'Parkland', ' FL', 'Marjory Stoneman Douglas High School', 'High School', 26.3100794, -80.23727),
 (120, '3/2/18', 2, 0, 'Mount Pleasant', ' MI', 'Central Michigan University', 'College or University', 43.597646000000005, -84.7668495),
 (121, '3/7/18', 1, 2, 'Birmingham', ' AL', 'Huffman High School', 'High School', 33.5206824, -86.80243259999999),
 (122, '3/9/18', 0, 1, 'Lexington', ' KY', 'Frederick Douglass High School', 'High School', 38.0464066, -84.4970393),
 (123, '3/14/18', 2, 1, 'Birmingham', ' AL', None, 'College or University', 33.5206824, -86.80243259999999),
 (124, '3/20/18', 2, 1, 'Great Mills', ' MD', 'Great Mills High School', 'High School', 38.2367924, -76.4971762),
 (125, '4/20/18', 0, 1, 'Ocala', ' FL', 'Forest High School', 'High School', 29.187198600000002, -82.14009229999999),
 (126, '5/11/18', 0, 1, 'Palmdale', ' CA', 'Highland High School', 'High School', 34.5793131, -118.1171108),
 (127, '5/16/18', 0, 1, 'Dixon', ' IL', 'Dixon High School', 'High School', 41.842224, -89.4815485),
 (128, '5/18/18', 10, 14, 'Santa Fe', ' CA', None, 'High School', 33.7236409, -116.96397140000002),
 (129, '5/18/18', 1, 3, 'Jonesboro', ' GA', None, 'High School', 33.521501300000004, -84.3538128),
 (130, '5/25/18', 0, 2, 'Noblesville', ' IN', None, 'Middle School', 40.0455918, -86.0085955),
 (131, '5/5/18', 0, 0, 'Fowlerville', ' MI', 'Fowlerville High School', 'High School', 42.6605894, -84.0730142),
 (132, '5/3/18', 0, 0, 'Waynesboro', ' TN', 'Waynesboro Elementary School', 'Elementary School', 35.319836200000005, -87.76292690000001),
 (133, '4/22/18', 0, 0, 'Atlanta', ' GA', 'Benjamin Elijah Mays High School', 'High School', 33.749098700000005, -84.39018490000001),
 (134, '4/19/18', 0, 0, 'Jackson', ' MI', 'Jackson High School', 'High School', 32.29903839999999, -90.1847691),
 (135, '4/12/18', 0, 0, 'Raytown', ' MO', 'Raytown South Middle School', 'Middle School', 39.0086171, -94.46356379999999),
 (136, '3/16/18', 0, 0, 'Missoula', ' MT', 'Big Sky High School', 'High School', 46.8700801, -113.99527959999999),
 (137, '3/13/18', 0, 0, 'Seaside', ' CA', 'Seaside High School', 'High School', 49.27187070000001, -123.1066675),
 (138, '3/13/18', 0, 0, 'Alexandria', ' VA', 'George Washington Middle School', 'Middle School', 38.8147596, -77.09024765),
 (139, '3/5/18', 0, 0, 'Cadet', ' MO', 'Kingston High School', 'High School', 37.9875505, -90.6884628),
 (140, '3/4/18', 0, 0, 'San Marcos', ' TX', 'Texas State University', 'College or University', 29.882643599999998, -97.9405828),
 (141, '2/28/18', 0, 0, 'Dalton', ' GA', 'Dalton High School', 'High School', 34.769186700000006, -84.9702475),
 (142, '2/27/18', 0, 0, 'Norfolk', ' VA', 'Norfolk State University', 'College or University', 36.846292299999995, -76.2929252),
 (143, '2/27/18', 0, 0, 'Itta Bena', ' MS', 'Mississippi Valley State University', 'College or University', 33.49512, -90.3198067),
 (144, '2/26/18', 0, 0, 'Tacoma', ' WA', 'Oakland High School', 'High School', 47.24957979999999, -122.43987460000001),
 (145, '2/24/18', 0, 0, 'Savannah', ' GA', 'Savannah State University', 'College or University', 32.0835407, -81.0998342),
 (146, '2/23/18', 0, 0, 'Hammond', ' LA', 'Southeastern Louisiana University', 'College or University', 41.5833658, -87.500043),
 (147, '2/20/18', 0, 0, 'Massillon', ' OH', 'Jackson Memorial Middle School', 'Middle School', 40.7967244, -81.5215093),
 (148, '2/15/18', 0, 0, 'Coconut Creek', ' FL', 'North Broward Preparatory School', 'K-12 School', 26.271462800000002, -80.18180792),
 (149, '2/8/18', 0, 0, 'New York', ' NY', 'The Metropolitan High School', 'High School', 40.7306458, -73.9866136),
 (150, '1/26/18', 0, 0, 'Dearborn', ' MI', 'Dearborn High School', 'High School', 42.3222599, -83.1763145),
 (151, '1/15/18', 0, 0, 'Marshall', ' TX', 'Wiley College', 'College or University', 32.5447756, -94.36610040000001),
 (152, '1/4/18', 0, 0, 'Seattle', ' WA', 'New Start High School', 'High School', 47.6038321, -122.3300624),
 (153, '12/31/17', 0, 0, 'Marysville', ' WA', 'Pinewood Elementary School', 'Elementary School', 48.0517429, -122.17682090000001),
 (154, '12/27/17', 0, 0, 'Lancaster', ' CA', 'Lincoln Elementary School', 'Elementary School', 45.1412642, -74.4984059),
 (155, '12/19/17', 0, 0, 'Beecher', ' MI', 'Beecher High School', 'High School', 43.089993, -83.70408931),
 (156, '12/14/17', 0, 0, 'Dallas', ' TX', 'Elisha M. Pease Elementary School', 'Elementary School', 32.7762719, -96.7968559),
 (157, '12/13/17', 0, 0, 'Monaca', ' PA', 'Penn State Beaver', 'College or University', 40.6872885, -80.2714505),
 (158, '12/12/17', 0, 0, 'East Stroudsburg', ' PA', 'East Stroudsburg University', 'College or University', 41.003646200000006, -75.17666581),
 (159, '12/12/17', 0, 0, 'Pasadena', ' TX', 'Sam Rayburn High School', 'High School', 29.6910625, -95.2091006),
 (160, '12/11/17', 0, 0, 'High Point', ' NC', 'High Point Central High School', 'High School', 35.9556924, -80.0053176),
 (161, '11/30/17', 0, 0, 'Virginia Beach', ' VA', 'Salem High School', 'High School', 36.8529841, -75.9774183),
 (162, '11/29/17', 0, 0, 'Lima', ' OH', 'Bath High School', 'High School', 40.742551, -84.1052256),
 (163, '11/28/17', 0, 0, 'San Jose', ' CA', 'Booksin Elementary School', 'Elementary School', 37.3297085, -121.90315990000002),
 (164, '11/23/17', 0, 0, 'Denver', ' CO', 'Manual High School', 'High School', 39.739142799999996, -104.984696),
 (165, '11/17/17', 0, 0, 'Jackson', ' TN', 'North Side High School', 'High School', 35.6144446, -88.8177418),
 (166, '11/11/17', 0, 0, 'Albany', ' GA', 'Albany State University', 'College or University', 31.578206199999997, -84.15568090000001),
 (167, '11/10/17', 0, 0, 'Milledgeville', ' GA', 'Lakeview Academy', 'Elementary School', 33.0801429, -83.2320991),
 (168, '11/10/17', 0, 0, 'Texarkana', ' TX', 'Texarkana College', 'Community College', 33.425125, -94.0476882),

In [21]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [22]:
engine = create_engine("sqlite:///school.sqlite")
Base = automap_base()
Base.prepare(engine, reflect= True)
Base.classes.keys()

['School_shooting']

In [23]:
session = Session(engine)
School_shooting = Base.classes.School_shooting

In [24]:
session.query(School_shooting.Date).all

### need Lat, long info for plotting, and hover tick for city name, state name, school name, death, injury

In [25]:
import pandas as pd
import numpy as np

In [26]:
def getData():
    result = session.query(School_shooting.Date, School_shooting.Location, School_shooting.State, School_shooting.Latitude, 
                       School_shooting.Longitude, School_shooting.School_Name, School_shooting.Death,
                      School_shooting.Injuries, School_shooting.School_Type).all()
    df2 = pd.DataFrame(result)
    
    df2['Year'] = ['20' + str(j).split("/")[2] for j in df2['Date']] 
    return df2
df2 = getData()
df2.head()

,Date,Location,State,Latitude,Longitude,School_Name,Death,Injuries,School_Type,Year
0,1/7/13,Fort Myers,FL,26.640628,-81.872308,Apostolic Revival Center Christian School,1,0,Preschool,2013
1,1/10/13,Taft,CA,50.995417,-118.646764,Taft Union High School,0,2,High School,2013
2,1/12/13,Detroit,MI,42.348664,-83.056737,Osborn High School,0,1,High School,2013
3,1/15/13,St. Louis,MO,38.627273,-90.197889,Stevens Institute of Business & Arts,0,2,College or University,2013
4,1/15/13,Hazard,KY,37.249540,-83.193228,Hazard Community and Technical College,3,0,College or University,2013

In [14]:
type(np.asscalar(df2["Death"][0]))

int

In [15]:
df2['Date'] = pd.to_datetime(df2['Date'])
mask = df2["Year"] == str(2014)
yr = df2[mask]
yr['Date'] = [str(j).split(" ")[0] for j in yr['Date']]
df = yr
df
names = list(df.columns)
Outerlst = []
for i in range(len(df)):
    innerList = []
    for j in range(len(names)):
        innerList.append(df.iloc[i, names.index(names[j])])
        #print(innerList)
    Outerlst.append(dict(zip(names, innerList)))
for index in range(len(Outerlst)):
    
    for key, value in Outerlst[index].items():
        
        if value == str:
            next
        else:
            Outerlst[index][key] = np.asscalar(np.array([value]))

/Users/apple/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
def map(year):
    
    df2['Date'] = pd.to_datetime(df2['Date'])
    mask = df2["Year"] == str(year)
    yr = df2[mask]
    yr['Date'] = [str(j).split(" ")[0] for j in yr['Date']]
    df = yr
    df
    names = list(df.columns)
    Outerlst = []
    for i in range(len(df)):
        innerList = []
        for j in range(len(names)):
            innerList.append(df.iloc[i, names.index(names[j])])
            #print(innerList)
        Outerlst.append(dict(zip(names, innerList)))
    for index in range(len(Outerlst)):

        for key, value in Outerlst[index].items():

            if value == str:
                next
            else:
                Outerlst[index][key] = np.asscalar(np.array([value])) 

    
    return Outerlst

In [17]:
type(map(2014)[0]['Latitude'])

/Users/apple/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

float

## get year data

In [18]:
def yearOPtion():
    df2= getData()
    yearList = []
    str_date = [str(date) for date in df2['Date'].dt.year]
    
    yearlst = list(set(str_date))
    yearlst.sort()
    return jsonify(yearlst)

In [19]:
# get states

yearList = []
for state in df2['State']:
    
    yearList.append(state)

In [20]:
for title in list(yr13.columns):
    littlelist.append([i for i in yr13[title]])

NameError: name 'yr13' is not defined

### getting bar graph data

In [27]:
def getData():
    result = session.query(School_shooting.Date, School_shooting.Location, School_shooting.State, School_shooting.Latitude, 
                       School_shooting.Longitude, School_shooting.School_Name, School_shooting.Death,
                      School_shooting.Injuries, School_shooting.School_Type).all()
    df2 = pd.DataFrame(result)
    df2["Date"] = pd.to_datetime(df2["Date"])
    df2['Year'] = ['20' + str(j).split("-")[2] for j in df2['Date']] 
    df2['State'] = [i.strip() for i in df2['State']]
    return df2
df2 = getData()
df2 = df2.dropna()
df2.head()

,Date,Location,State,Latitude,Longitude,School_Name,Death,Injuries,School_Type,Year
0,2013-01-07,Fort Myers,FL,26.640628,-81.872308,Apostolic Revival Center Christian School,1,0,Preschool,2007 00:00:00
1,2013-01-10,Taft,CA,50.995417,-118.646764,Taft Union High School,0,2,High School,2010 00:00:00
2,2013-01-12,Detroit,MI,42.348664,-83.056737,Osborn High School,0,1,High School,2012 00:00:00
3,2013-01-15,St. Louis,MO,38.627273,-90.197889,Stevens Institute of Business & Arts,0,2,College or University,2015 00:00:00
4,2013-01-15,Hazard,KY,37.249540,-83.193228,Hazard Community and Technical College,3,0,College or University,2015 00:00:00

In [ ]:
df2.groupby(["State",'School_Type']).agg({"School_Name": "count"})

In [ ]:
df2['State'].unique()

In [ ]:
mask = df2['State'] == "PA"
df = df2[mask]
df
count = df.groupby(['School_Type']).agg({"School_Name": "count"})
count = count.reset_index()
df

In [ ]:
df2['School_Type'].unique()

In [ ]:
schoolType =list(df['School_Type'].unique())
schoolType

In [ ]:
School_list = []
for types in schoolType:
    mask = df["School_Type"] == types
    School_list.append(list(df[mask]['School_Name']))
School_list

In [ ]:
ticks = dict(zip(list(schoolType), School_list))
ticks

In [28]:
def schoolType(name):
    result = session.query(School_shooting.State, School_shooting.School_Name, School_shooting.School_Type).all()
    df2 = pd.DataFrame(result)
    df2['State'] = [i.strip() for i in df2['State']]
    mask = df2['State'] == name
    df = df2[mask]
    count = df.groupby(['School_Type']).agg({"School_Name": "count"})
    count = count.reset_index()
    schoolType =list(df['School_Type'].unique())
    School_list = []
    for types in schoolType:
        mask = df["School_Type"] == types
        School_list.append(list(df[mask]['School_Name']))
        
    ticks = dict(zip(list(schoolType), School_list))
    return ticks

In [ ]:
schoolType('MN')

In [ ]:
len(dictt['College or University'])

In [ ]:
def State_schoolType():
    df2['State'] = [i.strip() for i in df2['State']]    
    statelst = list(df2['State'].unique())
    statelst.sort()
    stateDict = {}
    for name in statelst:
        stateDict[name] = schoolType(name)
        
    return stateDict

In [ ]:
State_schoolType()

In [ ]:
stateDict = {}
for name in statelst:
    stateDict[name] = schoolType(name)

In [ ]:
stateDict

In [ ]:
def schoolType(name):
        result = session.query(School_shooting.State, School_shooting.School_Name, School_shooting.School_Type).all()
        df2 = pd.DataFrame(result)
        df2 = df2.dropna()
        df2['State'] = [i.strip() for i in df2['State']]
        mask = df2['State'] == name
        df = df2[mask]
        count = df.groupby(['School_Type']).agg({"School_Name": "count"})
        count = count.reset_index()
        schoolType =list(df['School_Type'].unique())
        School_list = []
        for types in schoolType:
            mask = df["School_Type"] == types
            School_list.append(list(df[mask]['School_Name']))
            
        ticks = dict(zip(schoolType, School_list))
        return ticks

In [ ]:
def State_schoolType(stateName):
    
    result = session.query(School_shooting.State, School_shooting.School_Name, School_shooting.School_Type).all()
    df2 = pd.DataFrame(result)
    df2 = df2.dropna()
    df2['State'] = [i.strip() for i in df2['State']]    
    statelst = list(df2['State'].unique())
    statelst.sort()
    stateDict = {}
    for name in statelst:
        stateDict[name] = schoolType(name)
    

    return stateDict[f"{stateName}"]

In [ ]:
State_schoolType(PA)

In [ ]:
name = 'PA'
print(f"{name}")

## table 1 end point

In [29]:
import pandas as pd
def dictTranform(dict_list):
    df = pd.DataFrame(dict_list)
    names = list(df.columns)
    Outerlst = []
    for i in range(len(df)):
        innerList = []
        for j in range(len(names)):
            innerList.append(df.loc[i, names[j]])
        Outerlst.append(dict(zip(names, innerList)))
    return Outerlst

In [30]:
def schoolType(name):
        result = session.query(School_shooting.State, School_shooting.School_Name, School_shooting.School_Type).all()
        df2 = pd.DataFrame(result)
        df2 = df2.dropna()
        df2['State'] = [i.strip() for i in df2['State']]
        mask = df2['State'] == name
        df = df2[mask]
        count = df.groupby(['School_Type']).agg({"School_Name": "count"})
        count = count.reset_index()
        schoolType =list(df['School_Type'].unique())
        School_list = []
        for types in schoolType:
            mask = df["School_Type"] == types
            School_list.append(list(df[mask]['School_Name']))
            
        ticks = dict(zip(schoolType, School_list))
        return ticks

In [31]:
result = session.query(School_shooting.State, School_shooting.School_Name, School_shooting.School_Type).all()
df2 = pd.DataFrame(result)
df2 = df2.dropna()
df2['State'] = [i.strip() for i in df2['State']]    
statelst = list(df2['State'].unique())
statelst.sort()
stateDict = {}
for name in statelst:
    stateDict[name] = schoolType(name)
target = stateDict['FL']

In [32]:
keylength = []
length = []
for key, val in target.items():
    keylength.append(key) 
    length.append(len(val))
length.index(max(length))
for key, val in target.items():
    if len(val) != max(length):
        target[key] = target[key] + ["-" for i in range(max(length)-len(val))]

In [33]:
final = dictTranform(target)
final

[{'Preschool': 'Apostolic Revival Center Christian School',
  'College or University': 'University of Central Florida',
  'Elementary School': 'Agape Christian Academy',
  'High School': 'West Orange High School',
  'K-12 School': 'North Broward Preparatory School'},
 {'Preschool': 'The Academy of Knowledge Preschool',
  'College or University': 'Eastern Florida State College',
  'Elementary School': 'Franklin County Elementary School',
  'High School': 'Miami Carol City High School',
  'K-12 School': '-'},
 {'Preschool': 'Everglades City School',
  'College or University': 'Florida State University',
  'Elementary School': 'Oscar Patterson Elementary School',
  'High School': 'Vanguard High School',
  'K-12 School': '-'},
 {'Preschool': '-',
  'College or University': 'Bethune-Cookman University',
  'Elementary School': 'Rock Crusher Elementary School',
  'High School': 'Marjory Stoneman Douglas High School',
  'K-12 School': '-'},
 {'Preschool': '-',
  'College or University': 'University of West Florida',
  'Elementary School': 'Greenwood Lakes Middle School',
  'High School': 'Forest High School',
  'K-12 School': '-'},
 {'Preschool': '-',
  'College or University': 'University of South Florida',
  'Elementary School': 'Apostolic Revival Center Christian School',
  'High School': 'Lecanto High School',
  'K-12 School': '-'},
 {'Preschool': '-',
  'College or University': 'University of Florida',
  'Elementary School': '-',
  'High School': 'Alexander W. Dreyfoos School of the Arts',
  'K-12 School': '-'},
 {'Preschool': '-',
  'College or University': 'University of Miami',
  'Elementary School': '-',
  'High School': '-',
  'K-12 School': '-'}]

In [34]:
target

{'Preschool': ['Apostolic Revival Center Christian School',
  'The Academy of Knowledge Preschool',
  'Everglades City School',
  '-',
  '-',
  '-',
  '-',
  '-'],
 'College or University': ['University of Central Florida',
  'Eastern Florida State College',
  'Florida State University',
  'Bethune-Cookman University',
  'University of West Florida',
  'University of South Florida',
  'University of Florida',
  'University of Miami'],
 'Elementary School': ['Agape Christian Academy',
  'Franklin County Elementary School',
  'Oscar Patterson Elementary School',
  'Rock Crusher Elementary School',
  'Greenwood Lakes Middle School',
  'Apostolic Revival Center Christian School',
  '-',
  '-'],
 'High School': ['West Orange High School',
  'Miami Carol City High School',
  'Vanguard High School',
  'Marjory Stoneman Douglas High School',
  'Forest High School',
  'Lecanto High School',
  'Alexander W. Dreyfoos School of the Arts',
  '-'],
 'K-12 School': ['North Broward Preparatory School',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-']}

# endpooint for table

In [ ]:
import pandas as pd
def getData():
    result = session.query(School_shooting.Date, School_shooting.Location, School_shooting.State, School_shooting.Latitude, 
                       School_shooting.Longitude, School_shooting.School_Name, School_shooting.Death,
                      School_shooting.Injuries, School_shooting.School_Type).all()
    df2 = pd.DataFrame(result)
    df2['Date'] = pd.to_datetime(df2['Date'])
    df2['Date'] = [str(i).split(' ')[0] for i in df2['Date']]
    comboLst = list(zip(df2['Death'][130:], df2["Injuries"][130:]))
    Death = []
    Injury = []
    for j in comboLst:
        if j[0] == 0 and j[1] == 0:
            Death.append("-")
            Injury.append("-")
        else:
            Death.append(j[0])
            Injury.append(j[1])
    df2['Death'] = list(df2['Death'][0:130]) + Death
    df2['State'] = [i.split()[0] for i in df2['State']]
    df2['Injuries'] = list(df2['Injuries'][0:130]) + Injury
    df2['Location'] = [i.upper() for i in df2['Location']] 
    Stype = []
    for i in df2['School_Type']:
        if i == None :
            Stype.append("-")
        else:
            Stype.append(i.upper().strip())

    df2['School_Type'] = Stype
    name = []
    for i in df2['School_Name']:
        if i == None :
            name.append("-")
        else:
            name.append(i.upper().strip())

    df2['School_Name'] = name
    
    nulllist = []
    for i in df2['School_Name']:
        if i == None:
            nulllist.append("-")
        else:
            nulllist.append(i)
    df2['School_Name'] = nulllist
    names = list(df2.columns)
    Outerlst = []
    for i in range(len(df2)):
        innerList = []
        for j in range(len(names)):
            innerList.append(df2.loc[i, names[j]])
        Outerlst.append(dict(zip(names, innerList)))
    
    return Outerlst

In [ ]:
getData()

In [ ]:
df2['School_Type'].isnull().unique()

In [ ]:
name = []
for i in df2['School_Name']:
    if i == None :
        name.append("-")
    else:
        name.append(i.upper().strip())
    
df2['School_Name'] = name

In [ ]:
df2['School_Name']

In [ ]:
str(type(None))

In [ ]:
for i in df2['School_Name']:
    if i is not None:
        print(i)